.myTodos {
  display: flex;
  align-items: center;
  margin-top: 4rem;
  width: 100%;
  flex-direction: column;
}
.input-style {
  border: 1px solid black;
  border-radius: 8px 8px 0 0;
  background-color: gray;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 0;
}

ol {
  width: 50%;
  padding: 0;
  margin-bottom: 0;
}

li {
  border: 1px solid black;
  border-radius: 8px 8px 0 0;
  background-color: gray;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-task {
  justify-content: space-between;
  border-radius: 0;
  padding: 1rem;
}

input {
  text-align: center;
  border-radius: 8px;
  width: 95%;
  border: none;
}
.number-task {
  border-radius: 0 0 8px 8px;
  background-color: gray;
  height: 3rem;
  width: 50%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
}
button {
  margin: 1rem;
}
